@font-face {
font-family:Nimbus;
font-weight:400;
font-style:normal;
src:url(nimbus-mono.regular.otf);
}
@font-face {
font-family:Nimbus;
font-weight:700;
font-style:normal;
src:url(nimbus-mono.bold.otf);
}
@font-face {
font-family:Nimbus;
font-weight:400;
font-style:italic;
src:url(nimbus-mono.regular-oblique.otf);
}
@font-face {
font-family:Nimbus;
font-weight:700;
font-style:italic;
src:url(nimbus-mono.bold-oblique.otf);
}
