@charset "UTF-8";
*:not([novdz]){
  margin:0px;
  padding:0px;
}
body:not([novdz]){
  font-family:Helvetica,sans-serif;
  background:rgba(0,0,0,0.08);
}

	a[href]:not([novdz]){
		color:#797979;
		transition:0.2s;
	}
	
	a[href]:hover:not([novdz]){
		color:#dcdcdc;
	}
	a[href]:active:not([novdz]){
		color:#353535;
	}
[vdz~="overlay"]{
position:fixed;
top:0px;
bottom:0px;
left:0px;
right:0px;
z-index:4;
background:rgba(0,0,0,0.6);
}
[vdz~="outset"]{
  box-shadow:0pt 1.5pt 4pt -0.3pt black;
  z-index:2;
}
[vdz~="win"]{
  z-index:5;
  position:fixed;
}
[vdz~="win"],[vdz~="tile"],[vdz~="padding"]{
  padding:1em;
}
[vdz~="tile"] {
display:inline-block;
vertical-align:middle;
}
[vdz~="bwrap"]{
vertical-align:top;
display:inline-block;
}

[vdz~="button"],[vdz~="reset"]{
-webkit-appearance: none;
 cursor:pointer;
font-size:inherit;
border:1pt solid #7f7f7f;
border-bottom-width:0.2em;
font-weight:600;
background:transparent;
box-shadow:0pt 1.5pt 4pt -0.3pt black;
outline:none;
transition:border-bottom 0.4s,top 0.2s;
padding:1ex;
border-radius:1pt;
color:inherit;
}
[vdz~="button"]:active,[vdz~="reset"]:active{
top:0.157em;
border:1pt solid #7f7f7f;
border-top-width:0.2em;
border-bottom-width:1 pt;
box-shadow:0pt 1.5pt 4pt -0.3pt black inset;
transition:border 0.4s,top 0.4s;
}
[vdz~="reset"]{
color:red;
}
[vdz~="hpadding"]{
padding:0em 1em;
}
[vdz~="vpadding"]{
padding:1em 0em;
}
[vdz~="round"]{
 border-radius:1ex; 
}
[vdz~="uround"]{
 border-radius-top-left:1ex;
 border-radius-top-right:1ex; 
}
[vdz~="bround"]{
 border-radius-bottom-left:1ex;
 border-radius-bottom-right:1ex; 
}
[vdz~="button"]:hover,[vdz~="reset"]:hover,[vdz~="hover"]:hover,[vdz~="hover>"]>*:hover,[vdz~="hover>1"]>*:first-child:hover,[vdz^="quiz/"][vdz$="/a"]:hover{
background:rgba(127,127,127,0.26);
transition:0.3s;
}
[vdz~=":chosen"]{
background:rgba(127,127,127,0.5);
}
[vdz~="white"]{
  background:#fefefe;
}
[vdz~="bwhite"]{
  background:white;
}
[vdz~="grey"]{
  background:#cccccc;
}
[vdz^="strimg/"]{
display:inline-block;
height:1em;
width:1em;
background-size:100%;
position:relative;
top:0.125em;
}
[vdz^="win/"][vdz$="/bar"]{
background-color:rgba(127,127,127,0.1);
position:relative;
bottom:1ex;
left:-0.9ex;
height:1.1ex;
//padding-top:1pt;
width:calc(100% + 1.8ex);
}
[vdz^="win/"][vdz$="/bar"]>[vdz^="win/"][vdz$="/button"],[vdz^="win/"][vdz$="/bar"]>[vdz^="win/"][vdz$="/close"]{
  cursor:pointer;
padding:0.1ex;
border-left:1pt solid #888888;
height:91%;
width:1em;
font-size:0.5em;
float:right;
text-align:center;
  overflow:hidden;
}
[vdz^="win/"][vdz$="/close"]{
color:#aa5555;
}
[vdz^="win/"][vdz$="/bar"]>[vdz^="win/"][vdz$="/button"]:active,[vdz^="win/"][vdz$="/bar"]>[vdz^="win/"][vdz$="/close"]:active{
border-top:0.2em solid rgba(0,0,0,0.5);
box-shadow:0pt 1.5pt 4pt -0.3pt black inset;
height:calc(91% - 0.2em);
transition:0.5s;
}
[vdz^="quiz/"][vdz$="/o"]{
padding:1ex;
padding-bottom:0px;
display:inline-block;
vertical-align:top;
font-family:"Slab Serif", monospace;
//padding-right:0px;
}
[vdz^="quiz/"][vdz$="/o"]>[vdz^="quiz/"][vdz$="/m"] {
transition:0.5s;
}
[vdz^="quiz/"][vdz$="/o"]:not([vdz~="wrong"])>[vdz^="quiz/"][vdz$="/m"]{
opacity:0;
height:0em;
font-size:0em;
overflow:hidden;
}
[vdz^="quiz/"][vdz$="/o"][vdz~="wrong"]>[vdz^="quiz/"][vdz$="/m"] {
opacity:1;
display:block;
color:red;
height:auto;
font-size:1em;
}
[vdz^="quiz/"][vdz$="/q"]{
font-weight:bold;
letter-spacing:0.3ex;
}
[vdz^="quiz/"][vdz$="/a"]{
//margin-left:1em;
display:block;
padding:0.5ex;
background:rgba(150,150,150,0.05);
}
[vdz^="quiz/"][vdz$="/a"]:hover{
color:#55aa55;
transition:color 0.7s;
}

[vdz~="dark"]{
background:#101010;
color:white;
}
/*[vdz~="dark"][vdz~="button"],[vdz~="dark"]>[vdz~="button"],[vdz~="dark"] *:not([vdz~="white"]):not([vdz~="bwhite"]) [vdz~="reset"]{
color:white;
background-color:#aa5555;
}*/
[vdz~="dark"][vdz~="reset"],[vdz~="dark"]>[vdz~="reset"],[vdz~="dark"] *:not([vdz~="white"]):not([vdz~="bwhite"]) [vdz~="reset"]{
background-color:#aa5555;
color:white;
}
[vdz~="dark"][vdz~="reset"]:hover,[vdz~="dark"]>[vdz~="reset"]:hover,[vdz~="dark"] *:not([vdz~="white"]):not([vdz~="bwhite"]) [vdz~="reset"]:hover{
background-color:#888888;
color:#ee1111;
transition:0.4s;
}
[vdz~="fullwidth"]{
width:100%;
}
[vdz~="fullheight"]{
min-height:100%;
}

[vdz~="col"]{
height:100%;
border:0pt solid #999999;
display:inline-block;
float:left;
}
[vdz~="col"]:not(:first-child){

border-left-width:1pt;

}
[vdz~="hidden"]{
 display:none !important; 
}
[vdz^="footer/"][vdz$="/root"] {
width:calc(100%-2em);
text-align:center;
margin:1em;
}
[vdz^="footer/"][vdz$="/lih"] {
font-weight:bold;
display:block;
}
[vdz^="footer/"][vdz$="/lih"]:after {
display:inline;
content:":";
}
[vdz^="footer/"][vdz$="/lie"] {
display:block;
}
[vdz~="psimg"]{
background-repeat:no-repeat;
background-size:contain;
background-position:center;
}
[vdz^="gal/"][vdz$="/frame"]{
padding:0px;
position:fixed;
vertical-align:center;
top:-1em;
bottom:-1em;
left:-1em;
right:-1em;
}
[vdz^="gal/"][vdz$="/over"]{
display:block;
margin:0px;
height:100%;
width:100%;
//position:relative;
//bottom:16em;
z-index:4;
background:rgba(0,0,0,0.6);
}
[vdz^="gal/"][vdz$="/win"]{
display:block;
//border:2pt solid red;
position:fixed;
top:10%;
left:10%;
height:80%;
width:80%;
z-index:5;
transition:1s;
/*position:relative;
bottom:200%;
right:50%;*/

}
[vdz^="gal/"][vdz$="/img"]{
//border:10pt solid red;
//max-height:15em;
height:100%;
display:inline-block;
width:79%;
//width:200px;
}

[vdz^="gal/"][vdz$="/prev"],[vdz^="gal/"][vdz$="/next"]{
display:table-cell;
min-width:10%;
height:100%;
font-size:5em;
text-align:center;
vertical-align:bottom;
//line-height:418%;
}
[vdz^="gal/"][vdz$="/prev"]{
float:left;
}
[vdz^="gal/"][vdz$="/next"]{
float:right;
}
[vdz~="bordered"]{
border:1pt solid #aaaaaa;
}
